<!DOCTYPE html>
<html ng-app="appDataBase">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Application DataBase</title>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../Content/metisMenu.min.css" rel="stylesheet" />
    <link href="../Content/morris.css" rel="stylesheet" type="text/css" />
    <link href="../Content/sb-admin-2.css" rel="stylesheet" />
    <link href="../Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
</head>
<body ng-controller="LoginController">

    <div ng-if="$root.userLogged" ng-include src="'Menu.html'"></div>

    <div class="container corpo">
        <div ng-view=""></div>
    </div>
    <script src="../Scripts/jquery.min.js" type="text/javascript"></script>
    <script src="../Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="../Scripts/metisMenu.min.js" type="text/javascript"></script>
    <script src="../Scripts/site-min.js" type="text/javascript"></script>
    <script src="../Scripts/morris.min.js" type="text/javascript"></script>
    <script src="../Scripts/sb-admin-2.js" type="text/javascript"></script>
    <script src="../Scripts/angular.js" type="text/javascript"></script>
    <script src="../Scripts/angular-route.min.js" type="text/javascript"></script>
    <script src="../Scripts/angular-cookies.min.js" type="text/javascript"></script>
    <script src="../Scripts/angular/app.js" type="text/javascript"></script>
    <script src="../Scripts/angular/config.js" type="text/javascript"></script>
    <script src="../Controllers/LoginController.js" type="text/javascript"></script>
    <script src="../Controllers/HomeController.js" type="text/javascript"></script>
    <script src="../Controllers/ProjectController.js"></script>
</body>
</html>
