<div class="">
    <div class="page-title">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2> Projeto > {{(action == 'V' ? 'Visualizar' : action == 'I' ? 'Novo' : 'Editar')}}</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="formProject" name="formProject" form-validate data-parsley-validate="" novalidate class="form-horizontal form-label-left" autocomplete="off">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Nome <span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input ng-disabled="action=='V'" type="text" ng-model="project.name"
                                               name="txtName" class="form-control col-md-7 col-xs-12" required="" data-parsley-required-message="Nome do projeto é obrigatório.">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Descrição <span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <textarea ng-disabled="action=='V'" required="" class="form-control"
                                                  name="txtDescription" ng-model="project.description" data-parsley-required-message="Descrição é obrigatória."></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Usuário Chave</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <div angucomplete-alt id="autocompleteUser" minlength="1" override-suggestions="true" input-class="form-control"
                                             placeholder="Pesquisa Contatos" pause="300" selected-object="userKeySelectedFn9"
                                             initial-value="project.keyUser" input-name="txtKeyUser" local-data="contacts" search-fields="name" disable-input="disableInput" title-field="name"></div>
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-xs-12">
                                        <a ng-click="openModalUser();" class="fa fa-user-plus fa-lg"></a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Responsável Técnico</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <div angucomplete-alt id="autoCompleteTechnicalResponsible" minlength="1" override-suggestions="true" input-class="form-control" initial-value="project.technicalResponsible"
                                             placeholder="Pesquisa Contatos" disable-input="disableInput" pause="300" selected-object="technicalResponsibleSelectedFn9" local-data="contacts" search-fields="name"
                                             title-field="name" input-name="txtTechnicalResponsible"></div>
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-xs-12">
                                        <a ng-click="openModalUser();" class="fa fa-user-plus fa-lg"></a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Tecnologia
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <select ng-disabled="action=='V'" class="select2_single form-control" name="dropTechnologies"
                                                ng-model="project.technology" tabindex="-1" ng-options="item.name for item in listTechnology track by item.id"></select>
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-xs-12">
                                        <a ng-click="openModalTechnology();" class="fa fa-plus-square fa-lg"></a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Arquitetura
                                    </label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input ng-disabled="action=='V'" type="text" ng-model="project.architecture"
                                               name="txtArchitecture" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Servidores de desenvolvimento
                                    </label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input ng-disabled="action=='V'" type="text" ng-model="project.serverEnvironment"
                                               name="txtServerEnvironment" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Banco de Dados Compatível
                                    </label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input ng-disabled="action=='V'" type="text" ng-model="project.dataBaseCompatibility"
                                               name="txtDataBaseCompatibility" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Navegador Compatível
                                    </label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input ng-disabled="action=='V'" type="text" ng-model="project.browserCompatibility"
                                               name="txtBrowserCompatibility" class="form-control col-md-7 col-xs-12">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Sistema Operacional compatível (Client)
                                    </label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input ng-disabled="action=='V'" type="text" ng-model="project.clientCompatibility"
                                               name="txtClientCompatibility" class="form-control col-md-7 col-xs-12">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Sistema Operacional compatível (Server)
                                    </label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input ng-disabled="action=='V'" type="text" ng-model="project.serverCompatibility"
                                               name="txtServerCompatibility" class="form-control col-md-7 col-xs-12">

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group" ng-if="action!='I'">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Ativo</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="checkbox" name="ckActived" ng-disabled="action=='V'" class="flat" formnovalidate ng-model="project.isActived" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Multi moedas</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="checkbox" name="ckMultiCurrency" ng-disabled="action=='V'" class="flat" ng-model="project.multiCurrency" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Nome do servidor da aplicação
                                    </label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input type="text" ng-disabled="action=='V'" ng-model="project.appServerName"
                                               name="txtAppServerName" class="form-control col-md-7 col-xs-12">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Nome do banco de dados da aplicação
                                    </label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input type="text" ng-model="project.dbServerName" ng-disabled="action=='V'"
                                               name="txtDbServerName" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Caminho
                                    </label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input type="text" ng-model="project.path" ng-disabled="action=='V'"
                                               name="txtPath" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Tipo de desenvolvimento <span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <select ng-disabled="action=='V'" ng-model="project.eDevelopmentType"
                                                name="dropDevelopmentTypes" class="form-control" required data-parsley-required-message="Tipo de desenvolvimento é obrigatório."
                                                ng-options="item.name for item in listDevelopmentType track by item.id"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Criticidade
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <select name="dropCriticalities" ng-disabled="action=='V'" ng-model="project.eCriticality"
                                                class="select2_single form-control"
                                                ng-options="item.name for item in listCriticality track by item.id"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Idioma
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <select name="dropIdioms" ng-disabled="action=='V'" ng-model="project.eIdiom"
                                                class="select2_single form-control"
                                                ng-options="item.name for item in listIdiom track by item.id"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Nível</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <select name="dropLevels" ng-disabled="action=='V'" ng-model="project.eLevel"
                                                class="select2_single form-control"
                                                ng-options="item.name for item in listLevel track by item.id"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Grupo </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <select class="select2_single form-control" ng-disabled="action=='V'" name="dropGroups"
                                                ng-options="item.name for item in listGroup track by item.id" ng-model="project.group" tabindex="-1"></select>
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-xs-12">
                                        <a ng-click="openModalGroup();" class="fa fa-group fa-lg"></a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Categoria</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <select class="select2_single form-control" ng-disabled="action=='V'"
                                                ng-options="item.name for item in listCategory track by item.id"
                                                name="dropCategories" ng-model="project.category" tabindex="-1"></select>
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-xs-12">
                                        <a ng-click="openModalCategory();" class="fa fa-plus fa-lg"></a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-9 col-md-offset-3">
                                        <a ng-click="opentModalImportFile()" class="btn btn-app btn-primary" alt="Total de arquivos importados" style="margin-left: 18%;margin-top: 25px;color: #337ab7;">
                                            <span ng-if="project.files.length  > 0" class="badge bg-orange" title="N&uacute;mero de aquivos importados">{{project.files.length  }} </span>
                                            <i class="fa fa-cloud-upload"></i>Importar Arquivos
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                        <a back name="btnCancelar" class="btn btn-primary">Cancelar</a>
                                        <button type="submit" ng-click="save(formProject)" fom="formProject" class="btn btn-success">Salvar</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
