<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Grupo > {{(action == 'I' || action == 'M' ? 'Adicionar': 'Editar')}}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form id="frmEditGroups" name="frmEditGroups" form-validate data-parsley-validate="" novalidate class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="category-name">
                                Nome <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="groupName" required="" ng-model="entity.name" class="form-control col-md-7 col-xs-12"
                                       data-parsley-required-message="Nome do grupo é obrigatório." />
                            </div>
                        </div>
                        <div ng-if="action == 'U'" class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Status</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="">
                                    <label>
                                        <input type="checkbox" class="js-switch" ng-model="entity.isActived" ng-checked="entity.isActived" /> Ativo
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <a back name="btnCancelar" class="btn btn-primary">Cancelar</a>
                                <button ng-click="Save(frmEditGroups);" class="btn btn-success">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>