
<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <a href="#/home" class="site_title"><span>Application DataBase</span></a>
    </div>
    <div class="clearfix"></div>
    <!-- menu profile quick info -->
    <div class="profile">
        <div class="profile_pic">
            <img src="Content/Images/user.png" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
            <span>Bem-vindo,</span>
            <h2>{{userData.displayUserInfo()}}</h2>
        </div>
    </div>
    <!-- /menu profile quick info -->
    <br />
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <h3>General</h3>
            <ul class="nav side-menu">
                <li>
                    <div><a  href="#/home" style="color: #E7E7E7;font-weight: 500;padding: 13px 20px 12px;"><i class="fa fa-home"></i> Home</a><span class="fa fa-chevron-down" ng-click="careUp = !careUp;"></span></div> 
                    <ul ng-show="careUp" class="nav child_menu">
                        <li><a href="#/categories">Categorias</a></li>
                        <li><a href="#/contacts">Contatos</a></li>
                        <li><a href="#/groups">Grupos</a></li>                        
                         <li><a href="#/technologies">Tecnologias</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /sidebar menu -->
   
</div>
