<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Contato > {{(action == 'I' || action == 'M' ? 'Adicionar': 'Editar')}}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form id="frmEditContacts" name="frmEditContacts" form-validate data-parsley-validate="" novalidate class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contactName">
                                Nome <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" ng-model="entity.name" id="contactName" name="contactName" class="form-control col-md-7 col-xs-12" required=""
                                       data-parsley-required-message="Nome do contato é obrigatório.">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contactEmail">
                                Email <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="email" name="contactEmail" id="contactEmail" required="" ng-model="entity.email" class="form-control col-md-7 col-xs-12"
                                       data-parsley-required-message="Email do contato é obrigatório.">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contactCompany">
                                Empresa <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="contactCompany" required="required" ng-model="entity.company" class="form-control col-md-7 col-xs-12"
                                       data-parsley-required-message="Empresa do contato é obrigatória." />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contactRamal">
                                Ramal
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="contactRamal" ng-model="entity.extensionLine" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contactPhone">
                                Telefone
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="contactPhone" ng-model="entity.phone" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contactOccupation">
                                Cargo <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="tel" id="contactOccupation" required="required" ng-model="entity.occupation" class="form-control col-md-7 col-xs-12"
                                       data-parsley-required-message="Cargo do contato é obrigatória" />
                            </div>
                        </div>
                        <div ng-if="action == 'U'" class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Status</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="">
                                    <label>
                                        <input type="checkbox" class="js-switch" ng-model="entity.isActived" ng-checked="entity.isActived" /> Ativo
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <a back name="btnCancelar" class="btn btn-primary">Cancelar</a>
                                <button ng-click="Save(frmEditContacts);" class="btn btn-success">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>