<div class="" ng-init="loadData()">
    <div class="page-title">
        <div class="title_left">
            <h3>Contacts Design</h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="txtSearch" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" disabled type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                            <div class="pull-right">
                                <a class="btn btn-primary" href="#/contacts/new" data-toggle="modal" data-target=".bs-example-modal-sm">Novo Contato</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4 col-sm-4 col-xs-12 profile_details" ng-repeat="item in ResultData | filter:txtSearch">
                            <div class="well profile_view">
                                <div class="col-sm-12">
                                    <h4 class="brief"><i>{{item.company}}</i></h4>
                                    <div class="left col-xs-10">
                                        <h2>{{item.name}}</h2>
                                        <p><strong>Cargo: </strong> {{item.occupation}} </p>
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-envelope"></i> Email: {{item.email}} </li>
                                            <li><i class="fa fa-phone"></i> Telefone #: {{item.phone}} </li>
                                            <li><i class="fa fa-mobile-phone"></i> Ramal #: {{item.extensionLine}} </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xs-12 bottom text-center">
                                    <div class="col-xs-12 col-sm-6 emphasis">

                                    </div>
                                    <div class="col-xs-12 col-sm-6 emphasis">
                                        <a href="#/contacts/edit/{{item.id}}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Editar </a>
                                        <a class="btn btn-danger btn-xs" ng-click="delete(item)"><i class="fa fa-trash-o"></i> Excluir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
